#all {
	display: box;
	box-orient: vertical;
	box-sizing: border-box;
	margin: auto;
	margin-top: 2.5%;
	width: 90%;
	height: 90vh;
	padding: 1%;
	border: 2px solid black;
}

canvas#signature {
  border: 2px solid black;
  background: white;
  width: 95%;
  height: 50vh;
}


#student {
	box-flex: 1;
}

#parent {
	box-flex: 1;
}

label {
	font-size: 350%;
}

#name {
	font-size: 250%;
	border: 2px solid black;
}

#submit {
	border: 2px solid black;
}