#all {
	text-align: center;
	display: flex;
	box-orient: vertical;
	justify-content: center;
	box-sizing: border-box;
	margin: auto;
	margin-top: 2.5%;
	width: 90%;
	height: 90vh;
	padding: 1%;
}

canvas#signature {
  border: 2px solid black;
  background: white;
}

#student {
	
}

#parent {
	
}

label {
	font-size: 350%;
}

#name {
	width: 1500px;
	height: 100px;
	font-size: 400%;
	border:	2px solid black;
}

.button {
	width: 250px;
	height: 100px;
	border-radius: 50px;
	background-color: red;
	font-family: sans-serif;
	padding: 12px 24px; 
	font-size: 40px;
	margin: 20px 30px;
}